h1, h2, h3, h4, h5, h6, p, li, ul, ol, dl, div {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

html {
    background-color: #fbfaf9;
    background-image: linear-gradient(50, #fbfaf9 25%, rgb(212,212,212) 100%);
    background-image: -o-linear-gradient(50, #fbfaf9 25%, rgb(212,212,212) 100%);
    background-image: -moz-linear-gradient(50, #fbfaf9 25%, rgb(212,212,212) 100%);
    background-image: -webkit-linear-gradient(50, #fbfaf9 25%, rgb(212,212,212) 100%);
    background-image: -ms-linear-gradient(50, #fbfaf9 25%, rgb(212,212,212) 100%);
    background-image: -webkit-gradient(
        linear,
        left 50,
        left 0,
        color-stop(0.25, #fbfaf9),
        color-stop(1, rgb(212,212,212))
    );
    background-repeat: no-repeat;
    font: 87.5%/1.4 Arial,sans-serif
}

.logo {
    padding: 10px 0;
}

.logo img {
    border: 0;
}

a {
    color: #2b73b7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navigation {
    position: relative;
    float: left;
    width: 140px;
    z-index: 1;
}

.navigation li {
    padding: 3px 20px;
}

.navigation a,
.main-inner .toc a {
    font-size: .875em;
    line-height: .9em;
    display: block;
}

.main-content {
    float: right;
    width: 100%;
    margin-left: -140px;
}

.main-inner .toc {
    float: right;
    width: 200px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
    margin: -15px -20px 5px 5px;
}

.main-inner .toc > i {
    display: none;
}

.main-inner .toc ol {
    margin: 0;
    padding: 0;
}

.main-inner .toc > ol {
    margin: 0 0 0 10px;
    padding: 0;
}

.main-inner .toc li {
    list-style: circle;
    margin: 0 0 0 10px;
    padding: 0;
}

.main-inner .toc li a {
    margin-left: -5px;
}

.main-inner {
    margin-left: 140px;
    margin-right: 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 .5em #999;
    padding: 15px 20px;
}

.main-inner h1,
.main-inner h2,
.main-inner h3,
.main-inner h4,
.main-inner h5,
.main-inner h6 {
    padding: 10px 0;
}

.main-inner h1 { font-size: 1.6em; }
.main-inner h2 { font-size: 1.4em; }
.main-inner h3 { font-size: 1.2em; }
.main-inner h4 { font-size: 1.0em; }
.main-inner h5 { font-size: 0.8em; }
.main-inner h6 { font-size: 0.6em; }

.main-inner ul,
.main-inner ol,
.main-inner p {
    padding: 5px 0;
}

.main-inner li{
    margin-left: 25px;
}

.main-inner p > code,
.main-inner li > code,
.main-inner dd > code,
.main-inner dt > code {
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0 2px;
    margin: 0 2px;
    white-space: pre;
}


.main-inner dl,
.main-inner dt,
.main-inner dd {
    padding: 0;
    margin: 0;
}

.main-inner dt {
    padding: 10px 0;
}

.main-inner dd {
    padding: 5px 15px;
}

.highlight {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 10px 0;
    clear: both;
    font-size: 1.2em;
}

.highlight pre {
    padding: 0;
    margin: 0;
}

.code-tabs > p {
    margin: 0;
    padding: 0;
}

.code-tabs > p a {
    border: 1px solid #ccc;
    padding: 4px 8px 6px 8px;
    margin-right: 3px;
    z-index: 1;
    line-height: 2em;
}

.code-tabs > p a.active {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.code-tabs .highlight {
    border-top-left-radius: 0;
    margin-top: 0;
}

.footer {
    clear: both;
    padding: 50px 0;
    text-align: center;
    font-size: .8em;
}

article.news {
    padding-bottom: 20px;
}


.main-inner table {
  border-collapse: collapse;
  padding: 0; }
  .main-inner table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    .main-inner table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    .main-inner table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .main-inner table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .main-inner table tr th :first-child,
    .main-inner table tr td :first-child {
      margin-top: 0; }
    .main-inner table tr th :last-child,
    .main-inner table tr td :last-child {
      margin-bottom: 0; }